.result {
  height: 100px;
  width: 400px;
  background-color:#0f4c75;
  color: tan;
}

.result p {
  font-size: 80px;
  margin: 5px;
  font-family: Impact;

}
.calculator-body {

  max-width: 400px;
  margin: auto;
}
.para {
  color: #0f4c75;
  font-family: 'Courier New', Courier, monospace;
  text-transform: lowercase;
  text-align: center;
}

button {
  width: 50%;
  height: 60px;
  font-size: 30px;
  color: #0f4c75;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  font-family:'Roboto',sans-serif;
  background-color:tan;
  text-align:center;
  text-transform: lowercase;
}
.equal {
  width: 100%;
}

a {
  color:rosybrown;
}

